@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.side-nav {
  display: flex;
  width: $sidebar-normal-width;
  height: 100vh !important;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  background: $shade-900;
  transition: all 0.25s ease;
  padding: 2rem;

  @include multiple-media(smallMobileScreen, mobileScreen, tabletScreen) {
    display: none;
  }

  &-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  &-title {
    color: $shade-50;
    text-transform: uppercase;
  }

  .close-btn {
    background-color: transparent;
    color: $shade-50;
    border: none;
    padding: 0;
  }

  &-separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &-menu {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex: 1 0 0;
    align-self: stretch;
    transition: all .25s ease;

    .side-nav-item {

      .nav-link {
        color: $shade-300;
        transition: color .25s ease;

        &.active {
          color: $shade-50;
        }

        &:hover {
          color: $shade-50;
        }
      }
    }
  }
}

.mobile-nav {
  .side-nav {
    width: 80%;
    z-index: 101;
    left: 0;
    top: 0;
    position: fixed;
    transition: all 0.25s ease;
    height: 100vh;
    display: flex;
  }


  .side-nav.open {
    transform: translateX(0);
  }
}

.mask {
  display: none;

  @include multiple-media(mobileScreen, tabletScreen) {
    display: block;
    position: absolute;
    width: $full-viewport-width;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    z-index: 100;
  }

}
