@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.search-bar {
  padding: 1rem;
  background-color: $shade-50;
  margin: 2rem;
  display: flex;
  align-items: center;

  input {
    height: 2rem;
    width: 100%;
    max-width: 500px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: $shade-100;

    &:focus {
      outline: none;
    }
  }

  .clear-button {
    height: 2rem;
    border-radius: 0;
  }
}
