@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.search-bar {
  padding: 1rem;
  background-color: $shade-50;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include multiple-media(mobileScreen, tabletScreen) {
    margin: 1rem;
  }

  &-items {
    display: flex;
    align-items: center;

    input {
      height: 2rem;
      width: 100%;
      max-width: 500px;
      padding: 0.5rem 1rem;
      border: 1px solid $shade-200;
      font-size: 16px;
      background-color: $shade-100;

      @include multiple-media(mobileScreen, tabletScreen) {
        max-width: 200px;
      }

      &:focus {
        outline: none;
      }
    }

    .clear-button {
      height: 2rem;
      border-radius: 0;
      border: 1px solid $shade-200;
    }
  }

  .hamburger {
    display: none;
    align-self: center;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    padding: 0 .5rem;

    @include multiple-media(mobileScreen, tabletScreen) {
      display: flex;
    }
  }
}
