// Colors
$shade-50: #ffffff;
$shade-100: #f2f2f2;
$shade-200: #cccccc;
$shade-300: #999999;
$shade-900: #000000;
$primary-50: #0072ed;
$secondary-50: #f5a623;

// Size
$container: 1440px;

$sidebar-normal-width: 18rem;
$sidebar-small-width: 8rem;

// Element width
$full-viewport-height: calc(var(--vh, 1vh) * 100);
$full-viewport-width: 100vw;
$full-width: 100%;
$full-height: 100%;
